@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
}

.active {
    color:#004949;
}

.items{
  border-radius: 10px;
} 
