a{
    font-size: 24px;
    text-decoration: none;
    padding: 5px 20px;
    color:#008080;
}

a:hover{
    color:#014343;
}

a.active{
    color:red;
}

.search{
    margin:20px auto;
    text-align: center;
}

.search input{
    width:250px;
    border:1px solid grey;
    border-radius: 5px;
    padding: 5px 10px;
}

.images {
    text-align: center
}

.images img {
    border-radius: 7px;
}